<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ar</string>
    <key>CFBundleIdentifier</key>
    <string>com.khalid.fakegps.resources</string>
    <key>CFBundleName</key>
    <string>Wolf GPS V17 Resources</string>
    <key>CFBundleShortVersionString</key>
    <string>17.0.0</string>
    <key>CFBundleVersion</key>
    <string>170000</string>
</dict>
</plist>
